{erl_opts, [debug_info]}.

{compiler_error_format, rich}.

{deps, [
    {aht20, {git, "https://git.sr.ht/~arpunk/aht20", {branch, "master"}}},
    {atomvm_lib, {git, "https://github.com/atomvm/atomvm_lib.git", {branch, "master"}}},
    {atomvm_ssd1306, {git, "https://github.com/arpunk/atomvm_ssd1306", {branch, "erlang_driver"}}},
    {atomvm_neopixel, {git, "https://github.com/atomvm/atomvm_neopixel", {branch, "master"}}},
    {atomvm_mqtt_client, {git, "https://github.com/atomvm/atomvm_mqtt_client.git", {branch, "master"}}}
]}.

{project_plugins, [
    atomvm_rebar3_plugin,
    rebar3_ex_doc,
    rebar3_path_deps,
    rebar3_lint,
    erlfmt
]}.

{erlfmt, [write]}.

{elvis, [
    #{dirs => ["src/**"],
      filter => "*.erl",
      ruleset => erl_files,
      rules => [
          {elvis_style, max_module_length, #{}},
          {elvis_style, no_common_caveats_call, #{}},
          {elvis_style, dont_repeat_yourself, #{min_complexity => 20}},
          {elvis_style, export_used_types, disable},
          {elvis_style, macro_module_names, disable},
          {elvis_style, god_modules, #{limit => 100}},
          {elvis_style, no_debug_call, #{debug_functions => [{ct, pal}, {ct, print}]}},
          {elvis_text_style, line_length, #{limit => 120, skip_comments => false}}
      ]}
]}.

{ex_doc, [
    {extras, ["README.md", "LICENSE", "workshop.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/esl/c3card"},
    {homepage_url, "https://github.com/esl/c3card"},
    {with_mermaid, true}
]}.

{profiles, [
    {prod, [
        {erl_opts, [debug_info, warnings_as_errors, {d, 'PROD'}]}
    ]},
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]},
	{deps, [proper]}
    ]}
]}.
