{erl_opts, [debug_info]}.

{deps, [
    {aht20, {git, "https://git.sr.ht/~arpunk/aht20", {branch, "master"}}},
    {atomvm_lib, {git, "https://github.com/atomvm/atomvm_lib.git", {branch, "master"}}},
    {atomvm_ssd1306, {git, "https://github.com/atomvm/atomvm_ssd1306", {branch, "master"}}},
    {atomvm_neopixel, {git, "https://github.com/atomvm/atomvm_neopixel", {branch, "master"}}}
]}.

{plugins, [
    atomvm_rebar3_plugin
]}.

{profiles, [
    {prod, [
        {erl_opts, [debug_info, warnings_as_errors, {d, 'PROD'}]}
    ]}
]}.
